defaults:
  ros_ip: "0.0.0.0"
  ros_tcp_port: 42000
  auto_detect_ip: true
  left_serial_port: "/dev/ttyACM0"
  right_serial_port: "/dev/ttyACM1"
  left_calibration_path: "${share:so101_description}/config/calibration/left_arm.json"
  right_calibration_path: "${share:so101_description}/config/calibration/right_arm.json"
  driver_backend: "feetech"
  auto_enable: false
  gripper_scale: 2.0
  left_webui_port: 8080
  right_webui_port: 8081
  dashboard_port: 8888
  enable_foxglove: true
  enable_bridge: true
  so101_urdf_path: "${share:so101_description}/urdf/so101_new_calib.urdf.xacro"
  rviz_config: "${share:so101_description}/rviz/display.rviz"
  rviz_vr_config: "${share:so101_description}/rviz/vr_teleop.rviz"
  gazebo_args: ""
  overhead_camera_config: "${share:vlabor_launch}/config/overhead_camera_c920.yaml"
  d405_enabled: true
  d405_config: "${share:vlabor_launch}/config/realsense_d405_vlabor.yaml"
  d405_node_name: "side_camera"
  mirror_single_config: "${share:vlabor_launch}/config/copy_map_single.yaml"
  mirror_dual_config: "${share:vlabor_launch}/config/copy_map_dual.yaml"
  fluent_vision_config: "/config/fluent_vision_system.yaml"
  fluent_vision_update_serials: false
  fluent_vision_serials_path: "/config/camera_serials.yaml"
  fluent_vision_use_serials_script: false
  fluent_vision_serials_script_path: ""

include_profiles:
  - "${share:vlabor_launch}/config/profiles/so101_vr_dual_teleop.yaml"
  - "${share:vlabor_launch}/config/profiles/so101_single_teleop.yaml"
  - "${share:vlabor_launch}/config/profiles/so101_dual_teleop.yaml"
  - "${share:vlabor_launch}/config/profiles/vr_server_only.yaml"
  - "${share:vlabor_launch}/config/profiles/rviz_so101.yaml"
  - "${share:vlabor_launch}/config/profiles/gazebo_so101.yaml"
  - "${share:vlabor_launch}/config/profiles/overhead_camera.yaml"
